bootstrap.servers={% for host in groups['broker'] %}{% if loop.index > 1%},{% endif %}{{ host }}:{{kafkabroker.port_plaintext}}{% endfor %}

{% for key, value in kafka.tools.config.items() %}
{{key}}={{value}}
{% endfor %}
