# Maintained by Ansible
kafkastore.bootstrap.servers={% for host in groups['broker'] %}{% if loop.index > 1%},{% endif %}PLAINTEXT://{{ host }}:{{kafkabroker.port_plaintext}}{% endfor %}

listeners: http://0.0.0.0:{{schemaregistry.port}}
kafkastore.topic: _schemas
debug: false
avro.compatibility.level=backward
kafkastore.ssl.endpoint.identification.algorithm: ""